<div class="container-fluid d-flex justify-content-center align-items-center vh-100 "  style="background: linear-gradient(180deg, #6610f2, #007bff);">

  <div class="card shadow-lg p-4" style="width: 380px; border-radius: 15px;">
    
    <h3 class="text-center mb-3 fw-bold text-success">Reset Password</h3>
    <p class="text-center text-muted mb-4">
      Enter your new password to continue.
    </p>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="mb-3">
        <label class="form-label fw-semibold">New Password</label>
        <input 
          type="password"
          class="form-control form-control-lg rounded-3"
          formControlName="password"
          placeholder="Enter new password"
        />

        <div 
          class="text-danger small mt-1"
          *ngIf="f['password'].touched && f['password'].invalid"
        >
          Password must be minimum 6 characters.
        </div>
      </div>
<div class="mb-3">
  <label class="form-label fw-semibold">Confirm Password</label>
  <input 
    type="password"
    class="form-control form-control-lg rounded-3"
    formControlName="confirmPassword"
    placeholder="Re-enter new password"
  />

  <div *ngIf="form.hasError('mismatch') && f['confirmPassword'].touched"
       class="text-danger small mt-1">
    Passwords do not match.
  </div>
</div>

      <button 
        class="btn btn-success w-100 btn-lg rounded-pill mt-2"
        type="submit"
        [disabled]="form.invalid"
      >
        Reset Password
      </button>

    </form>

    <div class="text-center mt-3">
      <a routerLink="/login" class="text-decoration-none fw-semibold text-primary">
        ← Back to Login
      </a>
    </div>

  </div>

</div>
